#field{
    margin:auto;
    left:0;
    right:0;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    position: relative;
}

#snake{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:darkgreen;

}

#food {
    position: relative;
    width: 20px;
    height: 20px;
    background-color:red;
    z-index: -100;
}
.element {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:blue;
    display: none;
}
.score{
    position: relative;
    left:50%;
    clear: both;
   margin: 0 auto;
}

